/* General styling for body */
body {
    background-color: #f1f1f1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #1d3557;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

/* Section styling */
main {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 10px;
}

section {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1d3557;
    font-size: 1.5em;
    margin-top: 0;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

div {
    margin: 5px 0;
}
h3 {
	font-size: 1.2em;
    color: #1d3557;
}

h4 {
	font-size: 1em;
    color: #1d3557;
}

.gr {
	color: green;
}
.rd {
	color: #ff4500;
}

/* Sensor container styling */
.sensor-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sensor-box {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px; /* Adjust height as needed */
}

.sensor-box label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.sensor-box div {
    font-size: 2em;
}

.temperature::before {
    content: "\1F321"; /* Unicode for thermometer icon */
    font-size: 2em;
    color: #ff4500;
    position: absolute;
    top: 10px;
    left: 10px;
}

.humidity::before {
    content: "\1F4A7"; /* Unicode for droplet icon */
    font-size: 2em;
    color: #1e90ff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.soil-moisture::before {
    content: "\1F331"; /* Unicode for seedling icon */
    font-size: 2em;
    color: #32cd32;
    position: absolute;
    top: 10px;
    left: 10px;
}

.humidity, .soil-moisture, .temperature {
    position: relative;
    margin-bottom: 20px;
}

#humidity-bar, #soil-moisture-bar {
    margin-top: 10px; 
    width: 80%;
    height: 20px;
    background: lightgrey;
    border-radius: 10px;
    margin: 10px auto 0; 
    transition: background 0.3s ease;
}

#humidity-bar-fill, #soil-moisture-bar-fill {
    height: 100%;
    background: #1e90ff;
    border-radius: 10px;
    transition: width 0.3s ease;
    margin: 0;
}

#latest-firmware-label, #latest-firmware-date {
    display: inline-block;
}

div {
    margin: 5px 0;
}
/* Button styling */
button, input[type="button"] {
    background-color: #1d3557;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

button:hover, input[type="button"]:hover {
    background-color: #457b9d;
}

button:active, input[type="button"]:active {
    background-color: #1d3557;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Input field styling */
input[type="text"], input[type="password"], input[type="number"], input[type="file"] {
    width: calc(100% - 22px);
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.data {
    color:#32cd32;
}

.hidden {
	display: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

/* Specific styling for inline elements */
.lbl {
    display: inline-block;
    font-weight: bold;
    margin: 10px 0 5px;
}

#disconnect-button {
	background-color: #ff4500;
}

.time-data {
    color:#ff4500;
    font-weight: bold;
    font-size: 1.0em;
    margin-right: 10px;
    display: inline-block;
}

/* Responsive media queries */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    section {
        padding: 15px;
    }
    .sensor-container {
        flex-direction: column;
    }
    .sensor-box {
        margin: 10px 0;
    }
    button, input[type="button"] {
        padding: 8px 10px;
        font-size: 0.9em;
    }
    input[type="text"], input[type="password"], input[type="number"], input[type="file"] {
        padding: 8px;
    }
}
